- name: apache2
  apt:
    update_cache: yes

- name: Installer apache2
  apt:
    name: apache2
    state: present


- name: Supprimer index.html
  file:
    path: /var/www/html/index.html
    state: absent

- name: Répertoire du site
  file:
    path: "{{ sitepath }}"
    state: directory
    mode: '0755'

- name: Suppr var/
  file:
    path: /var/www/covoit
    state: absent
  become: yes

- name: Cloner le dépôt Git de l'application
  git:
    repo: https://github.com/AnthoGit-afpa/AppCovoit.git
    dest: "{{ sitepath }}"
    version: main   # ou la branche que tu veux
    force: yes      # écrase si le dossier existe déjà
    update: yes

- name: Déclarer safe directory pour Git
  command: git config --global --add safe.directory /var/www/covoit
  become: yes

- name: Fixer les permissions sur le site
  file:
    path: "{{ sitepath }}"
    state: directory
    owner: www-data
    group: www-data
    recurse: yes

- name: Déployer le VirtualHost via template
  template:
    src: vhost.j2
    dest: "/etc/apache2/sites-available/{{ sitename }}.conf"
    mode: '0644'
  notify: Reload Apache

- name: Activer le site personnalisé
  command: "a2ensite {{ sitename }}.conf"
  notify: Reload Apache

- name: Désactiver le site par défaut
  command: "a2dissite 000-default.conf"
  notify: Reload Apache

- name: Vérification installation apache2
  service:
    name: apache2
    state: started
    enabled: yes
