- name: Installer DB
  apt:
    name: mariadb-server
    state: present

- name: Verif mariaDB activ
  service:
    name: mariadb
    enabled: yes
    state: started

- name: Créer l'utilisateur admin MariaDB pour Ansible (via root + socket)
  community.mysql.mysql_user:
    name: ansible
    password: "PasswordAnsible123"
    priv: "*.*:ALL,GRANT"
    state: present
    login_user: root
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: Installer le module PyMySQL (nécessaire pour Ansible)
  ansible.builtin.package:
    name: python3-pymysql
    state: present
  become: yes

- name: Création de la base données
  mysql_db:
   name: "{{ db_name}}"
   state: present
   login_user: ansible
   login_password: "PasswordAnsible123"

- name: Créer un utilisateur et attribuer des privilèges
  mysql_user:
    name: "{{ db_user }}"
    password: "{{ db_password }}"
    priv: "{{ db_name }}.*:ALL"
    state: present
    login_user: ansible
    login_password: "PasswordAnsible123"

- name: Copier le schéma SQL sur le serveur
  ansible.builtin.copy:
    src: schema.sql
    dest: /tmp/schema.sql
    mode: '0644'

- name: Import du schéma SQL
  mysql_db:
    name: "{{ db_name }}"
    state: import
    target: /tmp/schema.sql
    login_user: ansible
    login_password: "PasswordAnsible123"
